root = true

[*]
indent_style = space
indent_size = 4
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[*.cs]
max_line_length = 100
csharp_new_line_before_open_brace = all
csharp_prefer_braces = true:warning
dotnet_sort_system_directives_first = true
csharp_style_namespace_declarations = file_scoped:warning


dotnet_diagnostic.SA1633.severity = none
dotnet_diagnostic.SA1200.severity = none
dotnet_diagnostic.SA1101.severity = none
dotnet_diagnostic.SA1309.severity = none


dotnet_diagnostic.CS1591.severity = none
dotnet_diagnostic.SA1600.severity = none
dotnet_diagnostic.SA1602.severity = none
dotnet_diagnostic.SA1611.severity = none
dotnet_diagnostic.SA1616.severity = none
dotnet_diagnostic.SA1623.severity = none
dotnet_diagnostic.SA1642.severity = none
dotnet_diagnostic.SA1518.severity = none
dotnet_diagnostic.SA0001.severity = none
dotnet_diagnostic.CA1305.severity = none
dotnet_diagnostic.CS8603.severity = none
dotnet_diagnostic.SA1201.severity = none
dotnet_diagnostic.SA1202.severity = none
dotnet_diagnostic.SA1204.severity = none
dotnet_diagnostic.SA1516.severity = none